/* employee-salary.css */

.employee-salary-main {
    margin-left: 170px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 20px;
}

.form-control {
    margin-bottom: 10px;
}

.form-check-label {
    margin-left: 5px;
}

.btn {
    margin-right: 10px;
}

.btn {
    background-color: #FFC94A;
    color: black;
    border: none;
  }

  .btn:hover{
    background-color: black;
    color: #FFC94A;
  }
 
  .salary-table{
    width: 90%;
    margin-top: 40px;
  }
  .salary-table tbody tr:nth-child(even) {
    background-color: #FFC94A;
  }
  
  .salary-table tbody tr:nth-child(odd) {
    background-color: white;
  }
  
 .table-header{
    background-color: #FFC94A !important;
 }
@media screen and (max-width: 768px) {
    .employee-salary-main {
        margin-left: 85px;
        margin-top: 0px;
    }

    .container {
        margin-top: 80px;
    }

    .col-md-6 {
        width: 100%;
    }
}
